# Data science LATAM airlines challenge

## Import libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

## Read data and explore records

In [2]:
dataset = pd.read_csv('dataset_SCL.csv', low_memory=False)
display(dataset)

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima

## 1. How data is distributed?

### General

In [3]:
dataset.astype('object').describe()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
count,68206,68206,68206,68206,68206,68206,68205,68206,68206,68206,68206,68206,68206,68206,68206,68206,68206,68206
unique,53252,584,1,64,30,62774,861,1,63,32,31,12,2,7,2,23,1,62
top,2017-07-28 13:30:00,174,SCEL,SCFA,LAN,2017-11-05 14:51:00,174,SCEL,SCFA,LAN,20,12,2017,Viernes,N,Grupo LATAM,Santiago,Buenos Aires
freq,6,686,68206,5787,37611,5,649,68206,5786,20988,2290,6356,68204,10292,36966,40892,68206,6335

As we can see in the table above, we have flight data from a departure city (Santiago) to more than 60 arrival cities. We have the dates of the flights stored as strings, so the first thing we are going to do is convert it to datetime format to be able to operate with those dates more easily.

In [4]:
# Assign datetime format to date fields
dataset['Fecha-I'] = dataset['Fecha-I'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
dataset['Fecha-O'] = dataset['Fecha-O'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [5]:
print('Min. operation date: {}'.format(dataset['Fecha-O'].min()))
print('Max. operation date: {}'.format(dataset['Fecha-O'].max()))

Min. operation date: 2017-01-01 00:04:00
Max. operation date: 2018-01-01 00:12:00

We have data for all of 2017!!! As we only have one year is not neccesary to use the variable year in our analysis.

### Day of the week

In [6]:
dataset.groupby('DIANOM')['DIANOM'].count()/(len(dataset))

DIANOM
Domingo      0.143624
Jueves       0.150295
Lunes        0.148535
Martes       0.141659
Miercoles    0.142539
Sabado       0.122453
Viernes      0.150896
Name: DIANOM, dtype: float64

It seems that the days of the week where the people use to travel more are fridays and mondays. That agrees with the common sense, where you could think that those days are the ones that people use more for its vacations trips.

### Month

In [7]:
dataset.groupby('MES')['MES'].count()/(len(dataset))

MES
1     0.089552
2     0.081532
3     0.080374
4     0.073601
5     0.076826
6     0.073029
7     0.087852
8     0.084215
9     0.082251
10    0.088438
11    0.089142
12    0.093188
Name: MES, dtype: float64

The months where the people used to travel more are at the beginning or at the end of the year.

### Flight type

In [8]:
dataset.groupby('TIPOVUELO')['TIPOVUELO'].count()/(len(dataset))

TIPOVUELO
I    0.458024
N    0.541976
Name: TIPOVUELO, dtype: float64

We have a little more data on domestic than international travel.

## 2. Generate synthetic features

In [9]:
# high_season feature
high_season_dates = [('12-15', '3-3'), ('7-15', '7-31'), ('9-11', '9-30')] ## Set high season date ranges
default_year = 2023
high_season_dates = [(str(default_year) + '-' + item[0], str(default_year) + '-' + item[1]) for item in high_season_dates]
high_season_dates = [ (datetime.strptime(season_range[0], '%Y-%m-%d').date(), datetime.strptime(season_range[1], '%Y-%m-%d').date())
                     for season_range in high_season_dates]
dataset['Aux-Fecha-I'] = dataset['Fecha-I'].apply(lambda x: x.replace(year=default_year).date())
dataset['high_season'] = dataset['Aux-Fecha-I'].apply(lambda x: sum([r[1] >= x >= r[0] for r in high_season_dates]))
dataset = dataset.drop('Aux-Fecha-I', axis=1)

# min_diff feature
dataset['min_diff'] = (dataset['Fecha-O'] - dataset['Fecha-I']).apply(lambda x : x.total_seconds() / 60)

# delay_15 feature
dataset['delay_15'] = dataset['min_diff'].apply(lambda x: int(x > 15))

# period_day feature
dataset['period_day'] = pd.cut((dataset['Fecha-I'] - pd.Timedelta(hours=5)).dt.hour,
                                bins=[0, 7, 14, 24],
                                labels=['morning', 'afternoon', 'night'],
                                right=False)
display(dataset)

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,...,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,high_season,min_diff,delay_15,period_day
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,...,2017,Domingo,I,American Airlines,Santiago,Miami,0,3.0,0,night
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,...,2017,Lunes,I,American Airlines,Santiago,Miami,0,9.0,0,night
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,...,2017,Martes,I,American Airlines,Santiago,Miami,0,9.0,0,night
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,...,2017,Miercoles,I,American Airlines,Santiago,Miami,0,3.0,0,night
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,...,2017,Jueves,I,American Airlines,Santiago,Miami,0,-2.0,0,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,...,2017,Viernes,I,JetSmart SPA,Santiago,Lima,0,46.0,1,afternoon
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,...,2017,Lunes,I,JetSmart SPA,Santiago,Lima,0,16.0,1,afternoon
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,...,2017,Miercoles,I,JetSmart SPA,Santiago,Lima,0,40.0,1,afternoon
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,...,2017,Viernes,I,JetSmart SPA,Santiago,Lima,0,13.0,0,afternoon
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,...,2017,Domingo,I,JetSmart SPA,Santiago,Lima,0,9.0,0,afternoon

## 3. Relationship between variables and new features

The following relationships are not supported via a formal statistical test, it's just some exploration of the data using univariate frequentist analysis to generate some hypothesis.

### Delay

In [10]:
dataset.groupby('delay_15')['delay_15'].count()/(len(dataset))

delay_15
0    0.81506
1    0.18494
Name: delay_15, dtype: float64

We have more flights on time than those that were delayed, that tells us that we are going to have a class imbalance problem that we need to address when we go to train the model.

### Day of the week

In [11]:
dataset.groupby('DIANOM')['delay_15'].mean()

DIANOM
Domingo      0.161086
Jueves       0.199493
Lunes        0.202152
Martes       0.169116
Miercoles    0.170850
Sabado       0.163194
Viernes      0.222017
Name: delay_15, dtype: float64

The days of the week where there are more delays are the same ones in which people usually travel more, that makes sense since if the airport is more crowded there will be more probability of delay.

### Day of the month

In [12]:
dataset.groupby('DIA')['delay_15'].count()/(len(dataset))

DIA
1     0.032373
2     0.032592
3     0.033296
4     0.032475
5     0.032856
6     0.033355
7     0.033194
8     0.032446
9     0.032651
10    0.033472
11    0.032798
12    0.033487
13    0.033311
14    0.032563
15    0.032827
16    0.033252
17    0.032666
18    0.031669
19    0.032812
20    0.033575
21    0.033238
22    0.033311
23    0.033135
24    0.032724
25    0.031947
26    0.033238
27    0.033516
28    0.032724
29    0.029968
30    0.029616
31    0.018913
Name: delay_15, dtype: float64

there does not seem to be a trend in the number of trips with the day of the month they are made

In [13]:
dataset.groupby('DIA')['delay_15'].mean()

DIA
1     0.148551
2     0.158345
3     0.176134
4     0.189616
5     0.174476
6     0.197363
7     0.158127
8     0.162223
9     0.178267
10    0.225580
11    0.232454
12    0.190893
13    0.181778
14    0.202161
15    0.242966
16    0.206349
17    0.195242
18    0.190741
19    0.174710
20    0.196070
21    0.191442
22    0.191901
23    0.179646
24    0.171595
25    0.183570
26    0.199824
27    0.159668
28    0.169355
29    0.167319
30    0.162376
31    0.157364
Name: delay_15, dtype: float64

It could be some pattern here, but it's hard to say right now, but this information would be useful for the model.

### Month

In [14]:
dataset.groupby('MES')['delay_15'].mean()

MES
1     0.160118
2     0.151591
3     0.115104
4     0.116534
5     0.157824
6     0.171050
7     0.293391
8     0.173398
9     0.172371
10    0.225962
11    0.197204
12    0.254091
Name: delay_15, dtype: float64

### Flight type

In [15]:
dataset.groupby('TIPOVUELO')['delay_15'].mean()

TIPOVUELO
I    0.225608
N    0.150571
Name: delay_15, dtype: float64

### Different airlines to schedulle and operate

Lets create a new variable that said if a flight was operated with a different airline to the one that was schedulled

In [16]:
dataset['airline_diff'] = dataset['Emp-I'] != dataset['Emp-O']

Let's see what part of the flight is operated with a different airline than the one that was scheduled

In [17]:
dataset.groupby('airline_diff')['delay_15'].count()/(len(dataset))

airline_diff
False    0.726285
True     0.273715
Name: delay_15, dtype: float64

El 27% de los vuelos son operados con una aerolínea diferente, ahora veamos cómo afecta esto al retraso de los vuelos.

In [18]:
dataset.groupby('airline_diff')['delay_15'].mean()

airline_diff
False    0.186790
True     0.180031
Name: delay_15, dtype: float64

### Different flight number

In [19]:
dataset['Vlo_diff'] = dataset['Vlo-I'] != dataset['Vlo-O']

In [20]:
dataset.groupby('Vlo_diff')['delay_15'].count()/(len(dataset))

Vlo_diff
False    0.933745
True     0.066255
Name: delay_15, dtype: float64

In [21]:
dataset.groupby('Vlo_diff')['delay_15'].mean()

Vlo_diff
False    0.179927
True     0.255588
Name: delay_15, dtype: float64

Change the flight seems to affect the probaility of delay.

### Different arrival city

In [22]:
dataset['Des_diff'] = dataset['Des-I'] != dataset['Des-O']

In [23]:
dataset.groupby('Des_diff')['delay_15'].count()/(len(dataset))

Des_diff
False    0.999589
True     0.000411
Name: delay_15, dtype: float64

In [24]:
dataset.groupby('Des_diff')['delay_15'].mean()

Des_diff
False    0.184898
True     0.285714
Name: delay_15, dtype: float64

Change the arrival city seems to affect too.

### Different departure city

In [25]:
dataset['Ori_diff'] = dataset['Ori-I'] != dataset['Ori-O']

In [26]:
dataset.groupby('Ori_diff')['delay_15'].count()/(len(dataset))

Ori_diff
False    1.0
Name: delay_15, dtype: float64

In [27]:
dataset.groupby('Ori_diff')['delay_15'].mean()

Ori_diff
False    0.18494
Name: delay_15, dtype: float64

Doesnt make sense to incluide this variable because there is only one departure city

### High season

In [28]:
dataset.groupby('high_season')['delay_15'].count()/(len(dataset))

high_season
0    0.896681
1    0.103319
Name: delay_15, dtype: float64

In [29]:
dataset.groupby('high_season')['delay_15'].mean()

high_season
0    0.180006
1    0.227756
Name: delay_15, dtype: float64

It seems to be a clear pattern that a delay is more likely when the airports are busier.

### Period day

In [30]:
dataset.groupby('period_day')['delay_15'].count()/(len(dataset))

period_day
morning      0.371698
afternoon    0.373955
night        0.254347
Name: delay_15, dtype: float64

In [31]:
dataset.groupby('period_day')['delay_15'].mean()

period_day
morning      0.160066
afternoon    0.199404
night        0.200023
Name: delay_15, dtype: float64

It would be more likely a delay on a night flight, that could be because night brings more challenges to all operations, especially visibility for pilots.

### Distance of the flight

We could get the distance between the arrival and departure city with the API of Gmaps to use that distance as feature, becuase that could affect the probability of delay.

## 4. Train models
Models to train:
- Logistic Regression
- SVM
- Xgboost

### Split dataset into training and test

In [34]:
# The following are the regressors tha we are going to use
one_hot_regressors = ['period_day', 'DIANOM', 'TIPOVUELO']
regressors =  ['Vlo_diff', 'Des_diff', 'airline_diff', 'DIA', 'MES', 'high_season']

y = dataset['delay_15']
X = dataset[one_hot_regressors + regressors]
one_hot = pd.get_dummies(X[one_hot_regressors])
X = X.drop(one_hot_regressors,axis = 1)
X = X.join(one_hot)

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify=y)

Training

In [36]:
from sklearn.svm import SVC
linsvc = SVC(kernel = 'linear',C=12, gamma=0.001)
linsvc.fit(X_train, y_train)

SVC(C=12, gamma=0.001, kernel='linear')

## 5. Evaluation

In [39]:
from sklearn.metrics import confusion_matrix

### Estimation

In [41]:
pred_test = linsvc.predict(X_test)
pred_train = linsvc.predict(X_train)

### Metrics

In [42]:
print('Train')
confusion_matrix(y_test, pred_test)

Train

array([[18345,     0],
       [ 4163,     0]], dtype=int64)

In [43]:
print('Test')
confusion_matrix(y_test, pred_test)

Test

array([[18345,     0],
       [ 4163,     0]], dtype=int64)